.tabs {
	// .tabs__navigation
	&__navigation {
		display: flex;
		gap: toRem(70);
		border-bottom: 1px solid rgba(2, 79, 58, 0.4);
		overflow-x: auto;
		overflow-y: hidden;
		@include adaptiveValue("font-size", 16, 14);
		@media (max-width: $mobile) {
			gap: toRem(24);
			margin: 0 toRem(-15);
			padding: 0 toRem(15);
		}
	}
	// .tabs__title
	&__title {
		padding-bottom: toRem(20);
		font-weight: 700;
		line-height: 1.3;
		text-transform: uppercase;
		border-bottom: 2px solid transparent;
		margin-bottom: -1px;
		white-space: nowrap;
		&._tab-active {
			border-color: $mainColor;
		}
		@media (max-width: $mobile) {
			padding-bottom: toRem(10);
		}
	}
	// .tabs__content
	&__content {
		@include adaptiveValue("padding-top", 40, 24);
	}
	// .tabs__body
	&__body {
	}
}
