.checkbox {
	position: relative;
	&:not(:last-child) {
		margin-bottom: toRem(10);
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:checked + .checkbox__label::after {
			transform: scale(0.5) translateY(-100%);
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		position: relative;
		align-items: center;
		gap: toRem(8);
		font-size: toRem(16);
		font-weight: 400;
		text-transform: none;
		&:before {
			content: "";
			// align-self: flex-start;
			flex: 0 0 auto;
			width: toRem(18);
			height: toRem(18);
			border: 1px solid $mainColor;
			border-radius: 50%;
		}
		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			width: toRem(18);
			height: toRem(18);
			border-radius: 50%;
			background-color: $mainColor;
			transform: scale(0) translateY(-100%);
			transition: transform 0.3s;
		}
	}
	// .checkbox__text
	&__text {
		align-self: center;
	}
}
