.cart-page {
	padding-top: toRem(30);
	@include adaptiveValue("padding-bottom", 120, 60);
	&__container {
	}
	&__btn-back {
		@media (max-width: $mobile) {
			display: none;
		}
	}
	&__body {
		@media (min-width: $mobile) {
			display: flex;
			@include adaptiveValue("gap", 60, 20, 0, 1340, 992);
			justify-content: space-between;
		}
	}
	&__main {
		@media (min-width: $mobile) {
			flex: 1 1 auto;
			max-width: toRem(792);
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: toRem(30);
			}
		}
		.breadcrumbs__container {
			padding: 0;
		}
	}
	&__header {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 16);
		}
		@media (min-width: $mobile) {
			display: flex;
			gap: toRem(15);
			align-items: center;
		}
	}
	&__title {
		@include adaptiveValue("font-size", 26, 20);
		font-weight: 700;
		line-height: 1.2;
		text-transform: uppercase;
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: toRem(16);
			}
		}
	}
	&__cart-counter {
		line-height: 1.3;
	}
	&__secondary {
		@media (min-width: $mobile) {
			flex: 0 1 toRem(508);
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: toRem(30);
			}
		}
	}
	&__promo {
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	&__contacts {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 30);
		}
	}
	&__delivery-type {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 30);
		}
	}
	&__delivery-data {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 30);
		}
	}
	&__footer {
		display: flex;
		gap: toRem(15);
		justify-content: space-between;
		align-items: center;
		.cart-page__btn-back {
			margin-bottom: 0;
			@media (max-width: $mobile) {
				display: inline-flex;
			}
		}
	}
	&__btn-checkout {
		max-width: toRem(220);
	}
	&__btn-to-pay {
		max-width: toRem(220);
	}
}
.promo {
	border-radius: 20px;
	background-color: #fff;
	@include adaptiveValue("padding", 40, 16);
	display: flex;
	gap: toRem(10);
	&__input-wrapper {
		flex: 1 1 auto;
	}
	&__button {
		justify-content: center;
		align-items: center;
		align-self: flex-end;
	}
}

.info-cart-page {
	@include adaptiveValue("padding", 40, 16);
	border-radius: 20px;
	background: #fff;
	&__title {
		@include adaptiveValue("font-size", 26, 20);
		font-weight: 700;
		line-height: 1.2;
		text-transform: uppercase;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 24);
		}
	}
	&__products {
		&:not(:last-child) {
			margin-bottom: toRem(40);
		}
	}
	&__items {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("gap", 10, 4);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 8);
		}
	}
	&__item {
		display: flex;
		justify-content: space-between;
		gap: toRem(30);
		line-height: 1.6;
		@include adaptiveValue("font-size", 16, 12);
	}
	&__label {
	}
	&__sum {
	}
	&__result {
		font-weight: 700;
		text-transform: uppercase;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 8);
		}
	}
	&__button {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 24);
		}
	}
	&__delivery {
		display: flex;
		align-items: center;
		gap: toRem(10);
		@include adaptiveValue("font-size", 16, 12);
		&::before {
			@include adaptiveValue("font-size", 28, 22);
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 16);
		}
	}
	&__payments {
		display: flex;
		gap: toRem(10);
		flex-wrap: wrap;
	}
	&__payment {
		width: toRem(46);
		height: toRem(32);
		img {
			width: 100%;
			height: auto;
		}
	}
}
//========================================================================================================================================================
.contacts-form {
	padding-top: toRem(14);
	row-gap: toRem(20);
	@media (min-width: $mobile) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: toRem(40);
	}
	@media (max-width: $mobile) {
		display: flex;
		flex-direction: column;
	}
	&__input-wrapper {
		&--double {
			grid-column: span 2;
		}
	}
}
.delivery-type {
	padding-top: toRem(20);
	&__checkbox {
		max-width: toRem(470);
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
		.checkbox__label {
			display: flex;
			@media (max-width: $mobileSmall) {
				display: grid;
				grid-template-columns: auto 1fr auto;
				&::before {
					grid-row: span 2;
				}
			}
		}
	}
	&__days {
		color: #9f9f9f;
		font-size: toRem(12);
		line-height: 1.3;
		flex: 1 1 auto;
		@media (max-width: $mobileSmall) {
			order: 4;
		}
	}
	&__price {
		font-weight: 400;
		flex: 0 0 auto;
		@include adaptiveValue("font-size", 16, 12);
	}
}
//========================================================================================================================================================
.form-delivery-data {
	display: flex;
	flex-direction: column;
	@include adaptiveValue("gap", 20, 16);
	@include adaptiveValue("padding-top", 20, 16);
	&__input-wrapper {
	}
	&__row {
		gap: toRem(20);
		@media (min-width: $tablet) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width: $tablet) {
			display: flex;
			flex-direction: column;
		}
	}
	&__text {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("gap", 20, 16);
		line-height: 1.3;
		@include adaptiveValue("font-size", 16, 12);
	}
}
