.status-main {
	padding: toRem(40) 0;
	@media (max-width: $mobile) {
		padding-top: toRem(0);
	}
	&__container {
		@include adaptiveValue("gap", 60, 24);
		@media (min-width: $mobile) {
			display: flex;
		}
	}
	&__offer {
		@include adaptiveValue("padding", 60, 16);
		@include adaptiveValue("min-height", 580, 300);
		border-radius: 20px;
		overflow: hidden;
		display: flex;
		align-items: center;
		position: relative;
		background: url("@img/status-bg.jpeg") center center / cover no-repeat;
		@media (min-width: $mobile) {
			max-width: 50%;
		}
		@media (max-width: $mobile) {
			border-radius: 10px;
		}
	}
	&__offer-content {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("gap", 20, 8);
	}
	&__title {
		@include adaptiveValue("font-size", 36, 22);
		font-weight: 700;
		line-height: 1.2;
		text-transform: uppercase;
	}
	&__text {
		line-height: 1.3;
		@include adaptiveValue("font-size", 16, 12);
	}
	&__form {
		align-self: center;
		flex: 1 1 auto;
	}
	&__inputs {
		display: flex;
		flex-direction: column;
		gap: toRem(24);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 32);
		}
	}
}
//========================================================================================================================================================
.page-status {
	padding-top: toRem(30);
	@include adaptiveValue("padding-bottom", 120, 56);
	display: flex;
	flex-direction: column;
	@include adaptiveValue("gap", 60, 30);
	&__container {
		width: 100%;
	}
	&__btn-back {
		@media (max-width: $mobile) {
			display: none;
		}
	}
	&__title {
		@media (min-width: $mobile) {
			text-align: center;
		}
	}
	&__table {
		width: 100%;
	}
	&__products {
		&:not(:last-child) {
			margin-bottom: toRem(60);
		}
	}
	&__info {
	}
}
.status-table {
	display: none;
	@media (min-width: $mobile) {
		display: block;
		width: 100%;
		&__head {
			background-color: $lightPinkColor;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.8px;
			display: block;
		}
		&__row {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: toRem(30);
			justify-items: start;
			padding: toRem(15);
			max-width: toRem(1390);
			margin: 0 auto;
		}
		&__body {
			display: block;
		}
	}
}
.mobile-status-table {
	display: none;
	@media (max-width: $mobile) {
		display: flex;
		flex-direction: column;
		gap: toRem(8);
		font-size: toRem(12);
		&__item {
		}
		&__label {
			padding: toRem(8) toRem(15);
			background-color: $lightPinkColor;
			font-weight: 700;
			line-height: 1.3;
			text-transform: uppercase;
			letter-spacing: 0.6px;
		}
		&__text {
			padding: toRem(8) toRem(15);
		}
	}
}
.info-page-status {
	display: flex;
	flex-direction: column;
	@include adaptiveValue("gap", 20, 8);
	&__title {
		@include adaptiveValue("font-size", 26, 20);
		font-weight: 700;
		line-height: 1.2;
		text-transform: uppercase;
	}
	&__content {
		border-top: 1px solid rgba(2, 79, 58, 0.4);
		@include adaptiveValue("padding-top", 20, 16);
		display: flex;
		justify-content: space-between;
		@include adaptiveValue("gap", 30, 8);
		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}
	&__part {
		max-width: toRem(300);
		@include adaptiveValue("font-size", 16, 12);
	}
	&__label {
		font-weight: 700;
		line-height: 1.3;
		text-transform: uppercase;
		letter-spacing: 0.8px;
		margin-bottom: toRem(10);
	}
	&__part-body {
		color: #9f9f9f;
		line-height: 1.3;
	}
}
